alembic==1.7.4
cachelib==0.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cos-python-sdk-v5==1.9.10
crcmod==1.7
dicttoxml==1.7.4
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
pycryptodome==3.11.0
PyMySQL==1.0.2
redis==3.5.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.26
tencentcloud-sdk-python==3.0.519
urllib3==1.26.7
Werkzeug==2.0.2
